article.tweet {
  width: 100%;
  border: 3px solid #545149;
  padding: 1rem;
  margin-bottom: 1rem;
}

article.tweet:hover {
  box-shadow: 5px 7px 5px #6e82b7;
}

header.tweet-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.tweet-header-user {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.tweet img {
  width: 50px;
  height: 50px;
}

.tweet-header-tag {
  display: flex;
  align-items: center;
}

div.tweet-body {
  border-bottom: 3px solid #545149;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.tweet-footer-date {
  width: fit-content;
  font-size: 17px;
}

footer.tweet-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.tweet-footer-icon {
  margin-right: 10px;
  color: #4056A1;
}

.tweet-footer-icon:hover {
  color: rgb(196, 154, 15);
}